body{
	margin: 0;
	padding: 0;
	background: #FFF; /*Imagen de fondo*/
	font-family: "Arial";
	font-size: 12px;
	background: url(../img/bg.png) bottom; /*Imagen de fondo*/
}
div#logo{
	
}
div#bg{
	background: url(../img/bg.png) bottom; /*Imagen de fondo*/
	height: 100%;
	width:100%;
	top: 0px;
	position:absolute;
	z-index: -1;

}
div#login{
	width:260px;
	height: 100px;
	border: 1px #CCC solid;
	margin: 12% auto 0 auto;
	background: #FFF;
	padding: 40px;
	border-radius:20px;

}
div#footer{
	position: fixed;
	bottom: 0px;
	width:100%;
	height: 50px;
	background: url(../img/footer.png) bottom;
}

.btn_iniciar_sesion{
	background: url(../img/btn_iniciarSesion_login.png) bottom no-repeat;
	width: 100%;
	border: 0px;
	height: 35px;
	
}

div#derecha_login {
width: 475px;
height: 521px;
overflow: hidden;
background: #CCC;
float: right;
margin: 22px auto 51px auto;

}

div#contenedor{
	width: 935px;
	margin-left: auto;
	margin-right: auto;
}

div#izquierda{
	float: left;
	width:260px;
	height: 100px;
	margin-top: 45px
}

.btn_registrar{
	float: right;
	margin-top: 60px;
	margin-right: 9px;
}
textfield #form_login {
	width: 45px:
	
}
#form_login_input{
	width: 287px;
}


